%h2 Sign in

= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-brand form-horizontal'} do |f|
  .form-group
    = f.label :email, 'Email: ', class: 'col-sm-2 control-label'
    .col-sm-5
      = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
  .form-group
    = f.label :password, 'Password: ', class: 'col-sm-2 control-label'
    .col-sm-5
      = f.password_field :password, placeholder: 'Password', class: 'form-control'

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-5.col-sm-offset-2
        .checkbox
          = f.label '' do
            = f.check_box :remember_me, class: 'checkbox'
            Remember me

  .form-group
    .col-sm-offset-2.col-sm-5
      = f.submit "Sign in", class: 'btn btn-link'
